<br>

<!-- tittle heading -->
<h3 class="tittle-w3l">Contact Us 
	<span class="heading-style">
		<i></i>
		<i></i>
		<i></i>
	</span>
</h3>
<!-- //tittle heading -->



<br>
<div class="container-fluid nh ">
    <h4> Contact Us </h4>
    <br>
    <form>

       

       <div class="row">
            <div class="form-group col-md-6" >
                <label for="Name"> First Name </label>
                <input type="text" class="form-control" id="1" placeholder=" Your First Name">
              </div>
              <div class="form-group col-md-6" >
                <label for="Name">Last Name </label>
                <input type="text" class="form-control" id="2" placeholder=" Your Last Name">
              </div>
        </div>

      
            <div class="form-group col-md-12">
                <label for="E-mail"> E-mail </label>
                <input type="email" class="form-control" id="3" placeholder="E-mail">
              </div>
              <div class="form-group col-md-6">
                <label for="number">Phone Number </label>
                <input type="number" class="form-control" id="4" placeholder=" Your Phone Number">
              </div>
              
              <div class="form-group col-md-12">
                <label for="subject">Subject</label>
        <textarea id="subject" name="subject"  class="form-control"placeholder="Write something.." style="height:170px"></textarea>
     </div>
    <div>
     <button type="submit" class="btn navb" >Submit</button>
    </div>

    <br>
    <br>